configuration.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fim.uhk.cz/ase/configuration.xsd" targetNamespace="http://fim.uhk.cz/ase/configuration.xsd" version="1.0">

  <xs:element name="configuration" type="tns:configuration"/>

  <xs:complexType name="container">
    <xs:sequence>
      <xs:element minOccurs="0" name="finalTick" type="xs:long"/>
      <xs:element minOccurs="0" name="reportEveryTick" type="xs:long"/>
      <xs:element minOccurs="0" name="agentsCount" type="xs:int"/>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="port" type="xs:int"/>
      <xs:element minOccurs="0" name="discoverAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="discoverPort" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reportDatabase">
    <xs:sequence>
      <xs:element minOccurs="0" name="jdbc" type="xs:string"/>
      <xs:element minOccurs="0" name="user" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="concurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="threadsPool" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="concurrency" type="tns:concurrency"/>
      <xs:element minOccurs="0" name="reportDatabase" type="tns:reportDatabase"/>
      <xs:element minOccurs="0" name="instance" type="xs:string"/>
      <xs:element minOccurs="0" name="container" type="tns:container"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
