configuration.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fim.uhk.cz/ase/configuration.xsd" targetNamespace="http://fim.uhk.cz/ase/configuration.xsd" version="1.0">

  <xs:element name="configuration" type="tns:configuration"/>

  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="concurrency" type="tns:concurrency"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="concurrency">
    <xs:sequence>
      <xs:element default="100" minOccurs="0" name="threadsPool" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
